<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Travlr Getaways</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header }}
			<div id="contents">
				<div id="adbox">
					<img src="images/sea-sound.jpg" alt="Oceanfront travel destination">
					<h1>Escape the Ordinary with Travlr Getaways</h1>
					<p>
						At Travlr Getaways, we make it easy to turn your next vacation into something unforgettable. Whether you are dreaming of tropical beaches, relaxing seaside resorts, exciting excursions, or a peaceful break from everyday life, our curated travel experiences are designed to help you travel with confidence and ease. Explore featured destinations, browse available trips, and start planning your next getaway today.
					</p>
				</div>
				<div id="main">
					<div class="box">
						<div>
							<div>
								<h3>Travel Inspiration</h3>
								<ul>
									<li>
										<h4><a href="/news">Why Travelers Love Coastal Escapes</a></h4>
										<span>Featured Story</span>
										<p>
											From ocean views and fresh cuisine to unforgettable sunsets and laid-back luxury, coastal vacations remain one of the most popular ways to relax, recharge, and reconnect.
										</p>
									</li>
									<li>
										<h4><a href="/travel">Discover Your Next Adventure</a></h4>
										<span>Start Planning Today</span>
										<p>
											Browse our current travel offerings to find destinations that match your style, schedule, and sense of adventure. From reefside retreats to scenic resort experiences, there is something for every traveler.
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="testimonials" class="box">
						<div>
							<div>
								<h3>Traveler Testimonial</h3>
								<p>
									“Travlr Getaways made the booking process simple and stress-free. The trip was beautiful, well organized, and exactly what we were hoping for. We cannot wait to plan our next vacation.” <span>- <a href="/">Happy Traveler</a></span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<div class="section">
						<a href="/rooms"><img src="images/rooms.png" alt="Resort rooms"></a>
					</div>
					<div class="section">
						<a href="/travel"><img src="images/dive-site.png" alt="Travel destinations"></a>
					</div>
					<div class="section">
						<a href="/meals"><img src="images/food.png" alt="Dining and meals"></a>
					</div>
				</div>
			</div>
		</div>
			<div id="page">
				{{> footer }}
				<div id="connect">
					<a href="#" class="pinterest"></a>
					<a href="#" class="facebook"></a>
					<a href="#" class="twitter"></a>
					<a href="#" class="googleplus"></a>
				</div>
			</div>
			<p>
				© 2026 by Travlr Getaways. All Rights Reserved
			</p>
		</div>
	</div>
</body>
</html>