<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>News - Travlr Getaways</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header }}
			<div id="contents">
				<div class="box">
					<div>
						<div id="news" class="body">
							<div class="sidebar">
								<h3>Latest News</h3>
								<ul>
									<li>
										<a href="/news">Travlr Getaways Expands Coastal Excursions for Summer 2026</a>
									</li>
									<li>
										<a href="/news">Guest-Favorite Sunset Kayak Tours Return This Season</a>
									</li>
									<li>
										<a href="/news">New Family Packages Announced for Weekend Travelers</a>
									</li>
									<li>
										<a href="/news">Petco Park Getaway Stays See Record Early Bookings</a>
									</li>
								</ul>
								<h3>Vacation Tips</h3>
								<ul>
									<li>
										<a href="/news">What to Pack for a Beachside Weekend</a>
									</li>
									<li>
										<a href="/news">How to Plan the Perfect Day Trip</a>
									</li>
									<li>
										<a href="/news">Snorkeling Basics for First-Time Guests</a>
									</li>
									<li>
										<a href="/news">Sun Protection Tips for Coastal Travel</a>
									</li>
									<li>
										<a href="/news">Best Ways to Capture Vacation Photos</a>
									</li>
									<li>
										<a href="/news">Making the Most of a Short Resort Stay</a>
									</li>
								</ul>
							</div>
							<div>
								<h1>News</h1>
								<img src="/images/kayak.jpg" alt="Kayaking adventure">
								<h2>Experience Kayaking Along the Coast</h2>
								<span class="time">April 03, 2026<br> by: Travlr Getaways Staff</span>
								<p>
									Guests searching for a peaceful way to enjoy the coastline are continuing to choose kayaking as one of the most memorable experiences offered through Travlr Getaways. With calm morning waters, scenic shorelines, and plenty of opportunities to spot marine life, kayaking has become a favorite activity for couples, families, and solo travelers alike.
								</p>
								<p>
									Our guided kayak outings are designed to be approachable for beginners while still offering plenty to enjoy for more experienced guests. Travelers can paddle through beautiful coastal stretches, take in panoramic ocean views, and explore hidden corners of the shoreline that are not always visible from the beach. The experience is both relaxing and active, making it a great addition to a weekend getaway or a longer vacation stay.
								</p>
								<p>
									As more guests look for vacation activities that combine adventure with natural beauty, kayaking continues to stand out as one of the best ways to slow down and experience the destination in a more personal way. Travelers planning an upcoming visit are encouraged to reserve early, especially during popular spring and summer dates, as these excursions are quickly becoming one of our most requested experiences.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			{{> footer }}
			<div id="connect">
				<a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a>
				<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
				<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
				<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
			</div>

			<p>
				© 2023 by Travlr Getaways. All Rights Reserved
			</p>
		</div>
	</div>
</body>
</html>